#--extra-index-url https://casa-pip.nrao.edu:443/repository/pypi-group/simple
--extra-index-url https://casa-pip.nrao.edu/repository/pypi-casa-release/simple
casatools # requires casadata & numpy
casatasks
casashell
casaplotms
casaviewer